<h1>User: <%= @user.username %></h1>

<p>
  <strong>Books:</strong>
  <% if @user.books.any? %>
    <ul>
      <% @user.books.each do |book| %>
        <li><%= link_to book.title, book_path(book) %></li>
      <% end %>
    </ul>
  <% else %>
    <em>No books yet</em>
  <% end %>
</p>

<%= link_to 'Back', users_path %>
